* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace,sans-serif;
  color: bisque;
}

.app {
  background-image: url('/src/assets/pexels-ian-beckley-2440024.jpg');
  background-size: cover;
  background-position:center;
  transition: 0.5 ease-out;
}
.app.warm {
   background-image: url('/src/assets/pexels-sachin-c-nair-954929.jpg');
   background-position:center;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(180, 156, 156, 0.2),rgba(46, 42, 42, 0.507));
  padding: 25px;
  
}
.input-container {
  width: 100%;
  margin: 0 0 75px;
}
 .input-container .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  
  
  border: none;
  outline: none;
  
  background-color: rgba(255, 255, 255. 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 2px 4px 6px rgb(41, 35, 35);
  background-color: rgba(255, 255, 255, 0.7);
  color: #313131;
  font-size: 20px;
  transition: 0.4 ease;
}

.input-container .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-container {
  text-align: center;
}

.weather-container .temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.521);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(37, 37, 53, 0.747);
  text-align: center;
  box-shadow: 3px 6px rgba(75, 71, 71, 0.377);
}

.weather-container .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}



